In [9]:
import pandas as pd
from pandas import DataFrame
import numpy
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv('TSLA.csv')

In [11]:
print(df.head())

         Date       Open   High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900

In [12]:
df = df.drop('Date', axis=1)

In [13]:
print(df.head())

        Open   High        Low      Close  Adj Close    Volume
0  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  20.000000  20.00  15.830000  16.110001  16.110001   6866900

In [14]:
df= df.drop('Adj Close', axis=1)

In [15]:
model = LinearRegression()

In [16]:
x = df.drop('Close',axis=1)
y = df['Close']

In [17]:
x,y

(            Open        High         Low    Volume
 0      19.000000   25.000000   17.540001  18766300
 1      25.790001   30.420000   23.299999  17187100
 2      25.000000   25.920000   20.270000   8218800
 3      23.000000   23.100000   18.709999   5139800
 4      20.000000   20.000000   15.830000   6866900
 ...          ...         ...         ...       ...
 2411  568.489990  576.809998  558.080017  11788500
 2412  575.690002  589.799988  567.429993  17801500
 2413  632.419983  650.880005  618.000000  29005700
 2414  640.000000  653.000000  632.520020  15719300
 2415  673.690002  786.140015  673.520020  47065000

 [2416 rows x 4 columns],
 0        23.889999
 1        23.830000
 2        21.959999
 3        19.200001
 4        16.110001
            ...
 2411    566.900024
 2412    580.989990
 2413    640.809998
 2414    650.570007
 2415    780.000000
 Name: Close, Length: 2416, dtype: float64)

In [18]:
x_test, x_train, y_test, y_train = train_test_split(x,y, test_size=0.2)

In [19]:
model.fit(x_train, y_train)

LinearRegression()

In [21]:
pred = model.predict(x_test)

In [22]:
pred

array([343.27201596,  28.53302132,  35.41360054, ...,  30.90335059,
       560.20431319, 369.24586542])

In [25]:
predictions = pd.DataFrame(pred, columns=['Close_pred'])

In [26]:
predictions

      Close_pred
0     343.272016
1      28.533021
2      35.413601
3     211.355390
4     173.365612
...          ...
1927   54.106656
1928   26.316029
1929   30.903351
1930  560.204313
1931  369.245865

[1932 rows x 1 columns]

In [32]:
df = pd.concat([df, predictions])

In [34]:
df

           Open   High        Low      Close      Volume  Close_pred
0     19.000000  25.00  17.540001  23.889999  18766300.0         NaN
1     25.790001  30.42  23.299999  23.830000  17187100.0         NaN
2     25.000000  25.92  20.270000  21.959999   8218800.0         NaN
3     23.000000  23.10  18.709999  19.200001   5139800.0         NaN
4     20.000000  20.00  15.830000  16.110001   6866900.0         NaN
...         ...    ...        ...        ...         ...         ...
1927        NaN    NaN        NaN        NaN         NaN   54.106656
1928        NaN    NaN        NaN        NaN         NaN   26.316029
1929        NaN    NaN        NaN        NaN         NaN   30.903351
1930        NaN    NaN        NaN        NaN         NaN  560.204313
1931        NaN    NaN        NaN        NaN         NaN  369.245865

[4348 rows x 6 columns]